body{

font-family: Arial, sans-serif;

margin:0;

background:#f5f7fb;

}



nav{

background:#1e3a8a;

color:white;

padding:20px;

display:flex;

justify-content:space-between;

}



nav a{

color:white;

text-decoration:none;

margin:10px;

}



.container{

padding:40px;

}



.hero{

text-align:center;

padding:100px;

}



.hero h1{

font-size:45px;

color:#1e3a8a;

}



.btn{

background:#2563eb;

color:white;

padding:12px 25px;

border-radius:8px;

text-decoration:none;

}



footer{

background:#111827;

color:white;

text-align:center;

padding:15px;

position:fixed;

bottom:0;

width:100%;

}