{% extends "layout/base.html" %}


{% block content %}


<style>


body{

background:#061a35;
font-family:'Segoe UI',sans-serif;

}



.forgot-page{

min-height:90vh;
display:flex;
justify-content:center;
align-items:center;

}



.forgot-box{


width:450px;
background:white;
padding:45px;
border-radius:20px;
box-shadow:0 20px 50px rgba(0,0,0,.35);

animation:show .8s;


}



.icon{

text-align:center;
font-size:55px;
margin-bottom:20px;

}



h2{

text-align:center;
color:#002b5c;
margin-bottom:10px;

}



.subtitle{

text-align:center;
color:#777;
margin-bottom:30px;

}




.form-group{

margin-bottom:20px;

}



label{

font-weight:600;
display:block;
margin-bottom:8px;

}



input{


width:100%;
padding:14px;
border-radius:10px;
border:1px solid #ddd;
font-size:15px;

}



input:focus{

outline:none;
border-color:#004aad;

box-shadow:0 0 8px rgba(0,74,173,.3);

}




button{


width:100%;
padding:15px;
background:#004aad;
border:none;
border-radius:10px;
color:white;
font-size:17px;
font-weight:bold;
cursor:pointer;

}



button:hover{

background:#002b5c;

}



.back{


text-align:center;
margin-top:20px;

}



.back a{

color:#004aad;
text-decoration:none;
font-weight:bold;

}



@keyframes show{


from{

opacity:0;
transform:translateY(30px);

}


to{

opacity:1;
transform:translateY(0);

}


}


</style>




<div class="forgot-page">


<div class="forgot-box">


<div class="icon">
🔐
</div>



<h2>
Reset Password
</h2>


<p class="subtitle">
Enter your email and create a new password
</p>




<form method="POST">



<div class="form-group">

<label>
Email Address
</label>


<input 
type="email"
name="email"
placeholder="Enter registered email"
required>


</div>




<div class="form-group">


<label>
New Password
</label>


<input
type="password"
name="password"
placeholder="Enter new password"
required>


</div>





<div class="form-group">


<label>
Confirm Password
</label>


<input
type="password"
name="confirm_password"
placeholder="Confirm new password"
required>


</div>




<button type="submit">

Update Password

</button>




<div class="back">

<a href="{{ url_for('auth.login') }}">

← Back to Login

</a>

</div>



</form>


</div>


</div>



{% endblock %}