<!DOCTYPE html>

<html>

<head>

<title>Signup</title>

</head>


<body>


<h1>Create Account</h1>


<form method="POST">


<label>Name</label>

<input type="text" name="name" required>


<br>


<label>Email</label>

<input type="email" name="email" required>


<br>


<label>Password</label>

<input type="password" name="password" required>


<br>


<label>Select Role</label>


<select name="role">

<option value="student">
Student
</option>


<option value="lecturer">
Lecturer
</option>


<option value="admin">
Admin
</option>


</select>


<br>


<button type="submit">

Signup

</button>


</form>


<a href="/login">
Already have account?
</a>


</body>

</html>